.tag {
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	padding: 3px;
}

.highlight {
	background-color: black;
	color: white;
}
