.tag {
	align-items: center;
	border: 1px solid var(--fg-color);
	border-radius: 5px;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	padding: 3px;
	user-select: none;
}

.highlight {
	background-color: var(--highlight-color);
	border-color: var(--highlight-color);
	color: var(--bg-color);
}
