.addButton {
	color: rgb(36, 138, 61);
}

.deleteButton {
	color: rgb(215, 0, 21);
	font-size: 0.7em;
}

.newTag {
	align-items: center;
	display: flex;
}

.newTag input {
	border: none;
	border-bottom: 1px solid black;
	font: inherit;
}

.newTag input:focus {
	border-bottom-color: rgb(36, 138, 61);
	outline: none;
}

.section {
	overflow-y: scroll;
}

.sidebar {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
}
