.addButton {
	color: var(--positive-color);
}

.newTag {
	align-items: center;
	display: flex;
}

.newTag input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--fg-color);
	color: var(--fg-color);
	font: inherit;
}

.newTag input::placeholder {
	color: var(--fg-color);
	opacity: 0.25;
}

.newTag input:focus {
	border-bottom-color: var(--positive-color);
	outline: none;
}

.section {
	overflow-y: scroll;
}

.sidebar {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
}
