.image {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	width: 300px;
}

.image img {
	border: 2px solid transparent;
	box-sizing: border-box;
	cursor: pointer;
	max-height: 80%;
	max-width: 80%;
	object-fit: contain;
}

.image img:hover {
	border-color: var(--highlight-color);
}

.tags {
	font-size: smaller;
	text-align: center;
}

.filename {
	font-size: smaller;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
