.image {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	width: 300px;
}

.image img {
	max-height: 80%;
	max-width: 80%;
	object-fit: contain;
}

.tag {
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
}
